
.l__component {
  width: 100%;
  height: 100vh;
  padding: 80px;
  background: #f8f8f8;
  margin: 0 auto;
}

.l__component_list {
  background: #fff;
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  /*justify-content: center;*/
}

.l__component_list table {
  /*width: 100%;*/

  height: 100%;
}
.l__component_list thead {
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
  border-top: 2px solid #333;
  border-bottom: 1px solid #d7d7d7;
  background: #f8f8f8;
}

.l__component_list tr {
  border-bottom: 1px solid #e4e4e4;
}

.l__component_list td {
  padding: 16px 0;
  vertical-align: top;
}

.l__component_list .num {
  width: 30px;
  text-align: center;
}

.l__component_list .group {
  width: 150px;
  text-align: center;
}

.l__component_list .description {
  text-align: left;
  width: calc(100% - 610px);
  font-weight: 500;
  font-size: 14px;
}

.l__component_list td.result {
  display: flex;
  flex-direction: column;
  /*gap: 16px;*/
  min-width: 480px;
  padding-left: 60px;
}

.l__component_list .component_list_popup .popup_wrap {
  position: unset;
  background: unset;
}

.l__component_list .component_list_bottom_sheet .bottom_sheet_style {
  /*min-height: 1000px; !*임시*!*/
  position: unset;
  background: unset;
}
